<%= form_for(@headline) do |f| %>
  <% if @headline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@headline.errors.count, "error") %> prohibited this headline from being saved:</h2>

      <ul>
      <% @headline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :h1 %><br>
    <%= f.text_field :h1 %>
  </div>
  <div class="field">
    <%= f.label :h5 %><br>
    <%= f.text_field :h5 %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
